:root {
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

[data-theme='dark'] {
  --main-bg-color: --bg-color-float;
  --main-text-color: #ccc;
  --main-shadow-size: 10px;
}

.clock {
  font-size: 50%;
  width: 18em;
  height: 18em;
  margin: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  background-image: url('./clock.png');
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid var(--main-bg-color);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}
.clock:before {
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--main-text-color);
  border: 2px solid var(--main-bg-color);
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
  transition: all ease 0.2s;
}
.hour,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hour {
  height: 10em;
  width: 10em;
}
.hour:before {
  content: '';
  position: absolute;
  height: 50%;
  width: 6px;
  background-color: var(--main-text-color);
  border-radius: 6px;
}
.min {
  height: 12em;
  width: 12em;
}
.min:before {
  content: '';
  height: 50%;
  width: 4px;
  background-color: var(--main-text-color);
  border-radius: 4px;
}
.sec {
  height: 13em;
  width: 13em;
}
.sec:before {
  content: '';
  height: 60%;
  width: 2px;
  background-color: #f00;
  border-radius: 2px;
}

/* Style for theme switch btn */
.switch-cont {
  margin: 2em auto;
  /* position: absolute; */
  bottom: 0;
}
.switch-cont .switch-btn {
  font-family: monospace;
  text-transform: uppercase;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all ease 0.3s;
}