<template>
  <div class="alomerry-project-panel-wrapper">
    <img src="https://cdn.alomerry.com/blog/github-contributions-snake.svg"/>
    <ProjectPanel />
  </div>
</template>

<script setup lang="ts">
import ProjectPanel from './index.js'
import './project-panel.scss'
</script>